#updateAnswerEditor .ql-editor,
#updateQuestionEditor .ql-editor,
#questionEditor .ql-editor,
#answerEditor .ql-editor {

    max-height: 400px;
    overflow-y: auto;

    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.ql-editor.ql-blank::before {
    color: #9ca3af;
    font-style: normal;
}


.ql-toolbar.ql-snow,
.ql-container.ql-snow {
    border: none;
}


.ql-snow .ql-stroke,
.ql-snow .ql-fill,
.ql-snow .ql-picker-label {
    color: #4b5563;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    bottom: 100%;
    top: auto;
}

.ql-tooltip {
    top: -50px !important;
    /* distance from top of editor container */
    left: 20px !important;
    /* distance from left */
    transform: none !important;
    /* remove quill's built-in transform */
    z-index: 1000;
}