/* Remove AG Grid blue focus/selection outline in Course Management grid */
#courseManagementGrid .ag-cell-focus,
#courseManagementGrid .ag-cell-range-single-cell,
#courseManagementGrid .ag-cell:focus {
  outline: none !important;
  border: none !important;
} 
 
 :root {
     --primary: #F0BD66;
 }