<div class="w-full h-full px-6 py-4 flex flex-col">
    <!-- Header -->
    <div class="flex items-center justify-between mb-4 border-b pb-2">
        <div>
            <h1 class="text-xl font-semibold text-gray-800">{{title}}

            </h1>
            <p class="text-gray-400 text-sm  flex items-center gap-1">
                <a href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        class="size-4 hover:text-[#F0BD66] ">
                        <path fill-rule="evenodd"
                            d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z"
                            clip-rule="evenodd" />
                    </svg>
                </a>
                {{path}}
            </p>
        </div>
        <button onclick="handleAddCourseModal()"
            class="bg-[#F0BD66] text-white flex items-center font-medium px-5 py-2 rounded-3xl focus:shadow-sm hover:shadow-md transition">
            Add
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                class="size-5 stroke-white stroke-[1] ml-2">
                <path
                    d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
            </svg>
        </button>
    </div>

    <!-- Page Content -->
    <div class=" flex-1  flex flex-col  ">
        <div id="courseManagementGrid" data-courses='{{{ json courses }}}' class="ag-theme-alpine h-full "></div>
    </div>

    {{!-- Modals --}}

    <div id="addCourseModal" class="fixed hidden inset-0 bg-black bg-opacity-50 flex items-center justify-center  z-50">

        <div class=" mt-0  ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto">
            <div class="bg-white border border-gray-200 rounded-xl shadow-2xs pointer-events-auto">
                <form onsubmit="handleSaveCourse(event)">
                    <div class="p-4 sm:p-7">
                        <div class="text-center">
                            <h3 class="block text-xl sm:text-2xl font-semibold text-gray-800">Create new course</h3>
                            <div class="max-w-sm mx-auto">
                                <p class="mt-2 text-sm text-gray-600">
                                    Fill the form to register a new course in the system.

                                </p>
                            </div>

                        </div>

                        <div class="mt-8 sm:mt-10 ">

                            <div class="flex items-center justify-between gap-4 ">
                                <div class="mb-3 flex-1">
                                    <label for="course_name"
                                        class="block mb-2.5 text-sm font-medium text-heading">Course
                                        Name</label>
                                    <input type="text" id="course_name" name="course_name"
                                        class="py-2.5 sm:py-3 px-4 block w-full border border-gray-200 rounded-lg sm:text-sm focus:outline-none focus:border-yellow-500 focus:ring-yellow-500 disabled:opacity-50 disabled:pointer-events-none "
                                        placeholder="Web Programming I" required />
                                </div>

                                <div class="mb-3 flex-1">
                                    <label for="course_id" class="block mb-2.5 text-sm font-medium text-heading">Course
                                        Code</label>
                                    <input type="text" id="course_id" name="course_id"
                                        class="py-2.5 sm:py-3 px-4 block w-full border border-gray-200 rounded-lg sm:text-sm focus:outline-none focus:border-yellow-500 focus:ring-yellow-500 disabled:opacity-50 disabled:pointer-events-none "
                                        placeholder="CS-546" required />
                                </div>
                            </div>

                            <div class="mb-3 flex-1">
                                <label for="name"
                                    class="block mb-2.5 text-sm font-medium text-heading">Description</label>
                                <textarea type="text" id="course_description" name="course_description"
                                    class="py-2.5 sm:py-3 px-4 block w-full border border-gray-200 rounded-lg sm:text-sm  focus:outline-none focus:border-yellow-500 focus:ring-yellow-500 disabled:opacity-50 disabled:pointer-events-none "
                                    placeholder="NodeJs basics and express" required></textarea>
                            </div>


                        </div>
                    </div>


                    <div class="flex justify-end items-center gap-x-2 p-4 sm:px-7 border-t border-gray-200">
                        <button onclick="handleAddCourseModal()" type="button"
                            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-50"
                            data-hs-overlay="#hs-notifications">
                            Cancel
                        </button>
                        <button type="submit"
                            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-[#F0BD66] text-white hover:bg-yellow-500 focus:outline-hidden focus:bg-[#F0AC66] disabled:opacity-50 disabled:pointer-events-none">
                            Save
                        </button>
                    </div>
                </form>

            </div>
        </div>

    </div>

    <div id="addLabelModal" class="fixed hidden inset-0 bg-black bg-opacity-50 flex items-center justify-center  z-50">

        <div class=" mt-0  ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto">
            <div class="bg-white border border-gray-200 rounded-xl shadow-2xs pointer-events-auto">
                <form onsubmit="handleSaveLabel(event)">
                    <div class="p-4 sm:p-7">
                        <div class="text-center">
                            <h3 class="block text-xl sm:text-2xl font-semibold text-gray-800">Create new label</h3>
                            <div class="max-w-sm mx-auto">
                                <p id="modalDescription" class="mt-2 text-sm text-gray-600">
                                    Fill the form to register a new label in the course.
                                </p>
                            </div>

                        </div>

                        <div class="mt-8 sm:mt-10 ">

                            <div class="mb-3 flex-1">
                                <label for="label_name" class="block mb-2.5 text-sm font-medium text-heading">Label
                                    Name</label>
                                <input type="text" id="label_name" name="name"
                                    class="py-2.5 sm:py-3 px-4 block w-full border border-gray-200 rounded-lg sm:text-sm focus:outline-none focus:border-yellow-500 focus:ring-yellow-500 disabled:opacity-50 disabled:pointer-events-none "
                                    placeholder="Assignment 1" required />
                            </div>





                        </div>
                    </div>


                    <div class="flex justify-end items-center gap-x-2 p-4 sm:px-7 border-t border-gray-200">
                        <button onclick="handleAddLabelModal()" type="button"
                            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-50"
                            data-hs-overlay="#hs-notifications">
                            Cancel
                        </button>
                        <button type="submit"
                            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-[#F0BD66] text-white hover:bg-yellow-500 focus:outline-hidden focus:bg-[#F0AC66] disabled:opacity-50 disabled:pointer-events-none">
                            Save
                        </button>
                    </div>
                </form>

            </div>
        </div>

    </div>


    <script src="/public/js/courseManagement.js"></script>
</div>